@charset "utf-8";
/* CSS Document */

.CSSTableGenerator {
	
	margin: 0px auto;
	padding:0px;
	box-shadow: 10px 10px 5px #888888;
	border:1px solid #ffffff;
	width:90%;
	-moz-border-radius-bottomleft:25px;
	-webkit-border-bottom-left-radius:25px;
	border-bottom-left-radius:25px;
	
	-moz-border-radius-bottomright:25px;
	-webkit-border-bottom-right-radius:25px;
	border-bottom-right-radius:25px;
	
	-moz-border-radius-topright:25px;
	-webkit-border-top-right-radius:25px;
	border-top-right-radius:25px;
	
	-moz-border-radius-topleft:25px;
	-webkit-border-top-left-radius:25px;
	border-top-left-radius:25px;
}

.CSSTableGenerator table{
    border-collapse: collapse;
    border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;
	padding:0px;
}.CSSTableGenerator tr:last-child td:last-child {
	-moz-border-radius-bottomright:25px;
	-webkit-border-bottom-right-radius:25px;
	border-bottom-right-radius:25px;
}
.CSSTableGenerator table tr:first-child td:first-child {
	-moz-border-radius-topleft:25px;
	-webkit-border-top-left-radius:25px;
	border-top-left-radius:25px;
}
.CSSTableGenerator table tr:first-child td:last-child {
	-moz-border-radius-topright:25px;
	-webkit-border-top-right-radius:25px;
	border-top-right-radius:25px;
}.CSSTableGenerator tr:last-child td:first-child{
	-moz-border-radius-bottomleft:25px;
	-webkit-border-bottom-left-radius:25px;
	border-bottom-left-radius:25px;
}.CSSTableGenerator tr:hover td{
	background-color:#ffffff;		
}
.CSSTableGenerator td{
	vertical-align:middle;
	background-color:#aad4ff;
	border:1px solid #ffffff;
	border-width:0px 1px 1px 0px;
	text-align:left;
	//text-align:center;
	padding:10px;
	font-size:15px;
    font-family:cursive,Arial;
	font-weight:bold;
	color:#000000;
}.CSSTableGenerator tr:last-child td{
	border-width:0px 1px 0px 0px;
}.CSSTableGenerator tr td:last-child{
	border-width:0px 0px 1x 0px;
}.CSSTableGenerator tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.CSSTableGenerator tr:first-child td{
	background:-o-linear-gradient(bottom, #005fbf 5%, #003f7f 100%);	
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #005fbf), color-stop(1, #003f7f) );
	background:-moz-linear-gradient( center top, #005fbf 5%, #003f7f 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#005fbf", endColorstr="#003f7f");	
	background: -o-linear-gradient(top,#005fbf,003f7f);
	background-color:#005fbf;
	border:0px solid #ffffff;
	//text-align:left;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:20px;
	font-family:cursive,Arial;
	font-weight:bold;
	color:#ffffff;
}
.CSSTableGenerator tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #005fbf 5%, #003f7f 100%);	
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #005fbf), color-stop(1, #003f7f) );
	background:-moz-linear-gradient( center top, #005fbf 5%, #003f7f 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#005fbf", endColorstr="#003f7f");	
	background: -o-linear-gradient(top,#005fbf,003f7f);
	background-color:#005fbf;
}


.CSSTableGenerator tr:first-child td:first-child{
	border-width:0px 0px 0px 0px;
}
.CSSTableGenerator tr:first-child td:last-child{
	border-width:0px 0px 0px 1px;
}

.button{
	-moz-box-shadow:inset 0px 1px 0px 0px #e6cafc;
	-webkit-box-shadow:inset 0px 1px 0px 0px #e6cafc;
	box-shadow:inset 0px 1px 0px 0px #e6cafc;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #c579ff), color-stop(1, #a341ee) );
	background:-moz-linear-gradient( center top, #c579ff 5%, #a341ee 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c579ff', endColorstr='#a341ee');
	background-color:#c579ff;
	-webkit-border-top-left-radius:33px;
	-moz-border-radius-topleft:33px;
	border-top-left-radius:33px;
	-webkit-border-top-right-radius:33px;
	-moz-border-radius-topright:33px;
	border-top-right-radius:33px;
	-webkit-border-bottom-right-radius:33px;
	-moz-border-radius-bottomright:33px;
	border-bottom-right-radius:33px;
	-webkit-border-bottom-left-radius:33px;
	-moz-border-radius-bottomleft:33px;
	border-bottom-left-radius:33px;
	text-indent:0px;
	border:1px solid #a946f5;
	display:inline-block;
	color:#ffffff;
	font-family:cursive,Arial Black;
	font-size:19px;
	font-weight:bold;
	font-style:normal;
	height:40px;
	line-height:40px;
	width:118px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #8628ce;
}
.button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #a341ee), color-stop(1, #c579ff) );
	background:-moz-linear-gradient( center top, #a341ee 5%, #c579ff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#a341ee', endColorstr='#c579ff');
	background-color:#a341ee;
}.button:active {
	position:relative;
	top:1px;
}

div.hidden {
    display: none
}