{% extends "AKBGroup_SongList_template.html" %}

{% block style %}
    <style type="text/css">
        body {
            background-image: url(https://dl.dropboxusercontent.com/u/35685131/%E9%9B%BB%E5%8F%B0WORK/AKB_Web%E5%9C%96/HKT/hkt48.jpg);
            background-attachment: fixed;
            background-repeat: repeat;
        }

        #hkt1:hover {
            position: relative;
        }

        #hkt1:hover:after {
            content: url(https://dl.dropboxusercontent.com/u/35685131/%E9%9B%BB%E5%8F%B0WORK/AKB_Web%E5%9C%96/HKT/hkt_1st.jpeg);
            /* no need for qoutes */
            display: block;
            position: absolute;
            left: 250px;
            top: -100px;
        }

        #hkt2:hover {
            position: relative;
        }

        #hkt2:hover:after {
            content: url(https://dl.dropboxusercontent.com/u/35685131/%E9%9B%BB%E5%8F%B0WORK/AKB_Web%E5%9C%96/HKT/hkt_2nd.jpeg);
            /* no need for qoutes */
            display: block;
            position: absolute;
            left: 250px;
            top: -100px;
        }

        #hkt3:hover {
            position: relative;
        }

        #hkt3:hover:after {
            content: url(https://dl.dropboxusercontent.com/u/35685131/%E9%9B%BB%E5%8F%B0WORK/AKB_Web%E5%9C%96/HKT/hkt_3rd.jpeg);
            /* no need for qoutes */
            display: block;
            position: absolute;
            left: 250px;
            top: -100px;
        }

        #hkt4:hover {
            position: relative;
        }

        #hkt4:hover:after {
            content: url(https://dl.dropboxusercontent.com/u/35685131/%E9%9B%BB%E5%8F%B0WORK/AKB_Web%E5%9C%96/HKT/hkt_4th.jpeg);
            /* no need for qoutes */
            display: block;
            position: absolute;
            left: 250px;
            top: -100px;
        }

        #hkt5:hover {
            position: relative;
        }

        #hkt5:hover:after {
            content: url(https://dl.dropboxusercontent.com/u/35685131/%E9%9B%BB%E5%8F%B0WORK/AKB_Web%E5%9C%96/HKT/hkt_5th.jpeg);
            /* no need for qoutes */
            display: block;
            position: absolute;
            left: 250px;
            top: -100px;
        }

        #hkt6:hover {
            position: relative;
        }

        #hkt6:hover:after {
            content: url(https://dl.dropboxusercontent.com/u/35685131/%E9%9B%BB%E5%8F%B0WORK/AKB_Web%E5%9C%96/HKT/cover_6th.jpg);
            /* no need for qoutes */
            display: block;
            position: absolute;
            left: 250px;
            top: -100px;
        }

        #hkt7:hover {
            position: relative;
        }

        #hkt7:hover:after {
            content: url(https://dl.dropboxusercontent.com/u/35685131/%E9%9B%BB%E5%8F%B0WORK/AKB_Web%E5%9C%96/HKT/cover_7th.jpg);
            /* no need for qoutes */
            display: block;
            position: absolute;
            left: 250px;
            top: -100px;
        }

        #gotop {
            display: none;
            position: fixed;
            right: 10px;
            bottom: 100px;
            padding: 20px 15px;
            font-size: 20px;
            /*background: #777;*/
            background-image: url(https://dl.dropboxusercontent.com/u/35685131/%E9%9B%BB%E5%8F%B0WORK/AKB_Web%E5%9C%96/HKT/hkt48.jpg);
            background-size: cover;
            color: white;
            cursor: pointer;
        }
    </style>
{% endblock style %}

{% block content %}
    <div class="CSSTableGenerator" style="width:40%">
        <table>
            <tr>
                <td> (請先點選此表確認出處) </td>
            </tr>
            <tr>
                <td> <a href="#IDHKT48 1st Single《スキ!スキ!スキップ!》" id="hkt1">HKT48 1st Single《スキ!スキ!スキップ!》</a></td>
            </tr>
            <tr>
                <td> <a href="#IDHKT48 2nd Single《メロンジュース》" id="hkt2">HKT48 2nd Single《メロンジュース》</a></td>
            </tr>
            <tr>
                <td> <a href="#IDHKT48 3rd Single《桜、みんなで食べた》" id="hkt3">HKT48 3rd Single《桜、みんなで食べた》</a></td>
            </tr>
            <tr>
                <td> <a href="#IDHKT48 4th Single《控えめI love you！》" id="hkt4">HKT48 4th Single《控えめI love you！》</a></td>
            </tr>
            <tr>
                <td> <a href="#IDHKT48 5th Single《12秒》" id="hkt5">HKT48 5th Single《12秒》</a></td>
            </tr>
            <tr>
                <td> <a href="#IDHKT48 6th Single《しぇからしか!》" id="hkt6">HKT48 6th Single《しぇからしか!》</a></td>
            </tr>
            <tr>
                <td> <a href="#IDHKT48 7th Single《74億分の1の君へ》" id="hkt7">HKT48 7th Single《74億分の1の君へ》</a></td>
            </tr>
        </table>
    </div>
	<br><br>
    <div id="effect">
        <div class="CSSTableGenerator">
            <table>
                <tr>
                    <td colspan="4" id="IDHKT48 1st Single《スキ!スキ!スキップ!》">HKT48 1st Single《スキ!スキ!スキップ!》</td>
                </tr>
                <tr>
                    <td onmousedown="str=this.innerText|| this.textContent"><a href="javascript:talk('HKT48 1st Single《スキ!スキ!スキップ!》')">01. スキ!スキ!スキップ!.&nbsp;</a></td>
                    <td onmousedown="str=this.innerText|| this.textContent"><a href="javascript:talk('HKT48 1st Single《スキ!スキ!スキップ!》')">02. お願いヴァレンティヌ&nbsp;</a></td>
                    <td onmousedown="str=this.innerText|| this.textContent"><a href="javascript:talk('HKT48 1st Single《スキ!スキ!スキップ!》')">03A. 片思いの唐揚げ&nbsp;</a></td>
                    <td onmousedown="str=this.innerText|| this.textContent"><a href="javascript:talk('HKT48 1st Single《スキ!スキ!スキップ!》')">03B. 今がイチバン&nbsp;</a></td>
                </tr>
                <tr>
                    <td onmousedown="str=this.innerText|| this.textContent"><a href="javascript:talk('HKT48 1st Single《スキ!スキ!スキップ!》')">03C. 制服のバンビ&nbsp;</a></td>
                    <td onmousedown="str=this.innerText|| this.textContent"><a href="javascript:talk('HKT48 1st Single《スキ!スキ!スキップ!》')">3. キレイゴトでもいいじゃないか&nbsp;</a></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </div>
        <div class="CSSTableGenerator">
            <table>
                <tr>
                    <td colspan="4" id="IDHKT48 2nd Single《メロンジュース》"> HKT48 2nd Single《メロンジュース》</td>
                </tr>
                <tr>
                    <td onmousedown="str=this.innerText|| this.textContent"><a href="javascript:talk('HKT48 2nd Single《メロンジュース》')">01  メロンジュース&nbsp;</a></td>
                    <td onmousedown="str=this.innerText|| this.textContent"><a href="javascript:talk('HKT48 2nd Single《メロンジュース》')">02  そこで何を考えるか&nbsp;</a></td>
                    <td onmousedown="str=this.innerText|| this.textContent"><a href="javascript:talk('HKT48 2nd Single《メロンジュース》')">3A  希望の海流(あまくち姫)&nbsp;</a></td>
                    <td onmousedown="str=this.innerText|| this.textContent"><a href="javascript:talk('HKT48 2nd Single《メロンジュース》')">03B  泥のメトロノーム(うまくち姫)&nbsp;</a></td>
                </tr>
                <tr>
                    <td onmousedown="str=this.innerText|| this.textContent"><a href="javascript:talk('HKT48 2nd Single《メロンジュース》')">03C  波音のオルゴール&nbsp;</a></td>
                    <td onmousedown="str=this.innerText|| this.textContent"><a href="javascript:talk('HKT48 2nd Single《メロンジュース》')">3.- 天文部の事情&nbsp;</a></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </div>
        <div class="CSSTableGenerator">
            <table>
                <tr>
                    <td colspan="4" id="IDHKT48 3rd Single《桜、みんなで食べた》">HKT48 3rd Single《桜、みんなで食べた》</td>
                </tr>
                <tr>
                    <td onmousedown="str=this.innerText|| this.textContent"><a href="javascript:talk('HKT48 3rd Single《桜、みんなで食べた》')">01 桜、みんなで食べた&nbsp;</a></td>
                    <td onmousedown="str=this.innerText|| this.textContent"><a href="javascript:talk('HKT48 3rd Single《桜、みんなで食べた》')">02 君はどうして?&nbsp;</a></td>
                    <td onmousedown="str=this.innerText|| this.textContent"><a href="javascript:talk('HKT48 3rd Single《桜、みんなで食べた》')">03  君のことが好きやけん&nbsp;</a></td>
                    <td onmousedown="str=this.innerText|| this.textContent"><a href="javascript:talk('HKT48 3rd Single《桜、みんなで食べた》')">03 昔の彼氏のお兄ちゃんとつき合うということ&nbsp;</a></td>
                </tr>
                <tr>
                    <td onmousedown="str=this.innerText|| this.textContent"><a href="javascript:talk('HKT48 3rd Single《桜、みんなで食べた》')">03 既読スルー&nbsp;</a></td>
                    <td onmousedown="str=this.innerText|| this.textContent"><a href="javascript:talk('HKT48 3rd Single《桜、みんなで食べた》')">03 覚えてください&nbsp;</a></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </div>
        <div class="CSSTableGenerator">
            <table>
                <tr>
                    <td colspan="4" id="IDHKT48 4th Single《控えめI love you！》">HKT48 4th Single《控えめI love you！》</td>
                </tr>
                <tr>
                    <td onmousedown="str=this.innerText|| this.textContent"><a href="javascript:talk('HKT48 4th Single《控えめI love you！》')">01. 控えめI love you !&nbsp;</a></td>
                    <td onmousedown="str=this.innerText|| this.textContent"><a href="javascript:talk('HKT48 4th Single《控えめI love you！》')">02. 今　君を想う&nbsp;</a></td>
                    <td onmousedown="str=this.innerText|| this.textContent"><a href="javascript:talk('HKT48 4th Single《控えめI love you！》')">3A. アイドルの王者 (Team H)&nbsp;</a></td>
                    <td onmousedown="str=this.innerText|| this.textContent"><a href="javascript:talk('HKT48 4th Single《控えめI love you！》')">3B. 夏の前 (Team KⅣ)&nbsp;</a></td>
                </tr>
                <tr>
                    <td onmousedown="str=this.innerText|| this.textContent"><a href="javascript:talk('HKT48 4th Single《控えめI love you！》')">3C. 生意気リップス (なこみく)&nbsp;</a></td>
                    <td onmousedown="str=this.innerText|| this.textContent"><a href="javascript:talk('HKT48 4th Single《控えめI love you！》')">03. 私はブルーベリーパイ&nbsp;</a></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </div>
        <div class="CSSTableGenerator">
            <table>
                <tr>
                    <td colspan="4" id="IDHKT48 5th Single《12秒》">HKT48 5th Single《12秒》</td>
                </tr>
                <tr>
                    <td onmousedown="str=this.innerText|| this.textContent"><a href="javascript:talk('HKT48 5th Single《12秒》')">01 12秒&nbsp;</a></td>
                    <td onmousedown="str=this.innerText|| this.textContent"><a href="javascript:talk('HKT48 5th Single《12秒》')">02 ロックだよ、人生は… (HKT Ver.)&nbsp;</a></td>
                    <td onmousedown="str=this.innerText|| this.textContent"><a href="javascript:talk('HKT48 5th Single《12秒》')">03 カメレオン女子高生 (Team H)&nbsp;</a></td>
                    <td onmousedown="str=this.innerText|| this.textContent"><a href="javascript:talk('HKT48 5th Single《12秒》')">03 ハワイヘ行こう (Team KIV)&nbsp;</a></td>
                </tr>
                <tr>
                    <td onmousedown="str=this.innerText|| this.textContent"><a href="javascript:talk('HKT48 5th Single《12秒》')">03 微笑みポップコーン&nbsp;</a></td>
                    <td onmousedown="str=this.innerText|| this.textContent"><a href="javascript:talk('HKT48 5th Single《12秒》')">04 抱いてツインテール&nbsp;</a></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </div>
        <div class="CSSTableGenerator">
            <table>
                <tr>
                    <td colspan="4" id="IDHKT48 6th Single《しぇからしか!》">HKT48 6th Single《しぇからしか!》</td>
                </tr>
                <tr>
                    <td onmousedown="str=this.innerText|| this.textContent"><a href="javascript:talk('HKT48 6th Single《しぇからしか!》')">01.HKT48 feat.氣志團-しぇからしか！&nbsp;</a></td>
                    <td onmousedown="str=this.innerText|| this.textContent"><a href="javascript:talk('HKT48 6th Single《しぇからしか!》')">02.HKT48-黄昏のタンデム&nbsp;</a></td>
                    <td onmousedown="str=this.innerText|| this.textContent"><a href="javascript:talk('HKT48 6th Single《しぇからしか!》')">03.HKT48-Buddy&nbsp;</a></td>
                    <td onmousedown="str=this.innerText|| this.textContent"><a href="javascript:talk('HKT48 6th Single《しぇからしか!》')">03.HKT48-夢見るチームKIV&nbsp;</a></td>
                </tr>
                <tr>
                    <td onmousedown="str=this.innerText|| this.textContent"><a href="javascript:talk('HKT48 6th Single《しぇからしか!》')">03.矢吹奈子(HKT48)-いじわるチュー&nbsp;</a></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </div>
        <div class="CSSTableGenerator">
            <table>
                <tr>
                    <td colspan="4" id="IDHKT48 7th Single《74億分の1の君へ》">HKT48 7th Single《74億分の1の君へ》</td>
                </tr>
                <tr>
                    <td onmousedown="str=this.innerText|| this.textContent"><a href="javascript:talk('HKT48 7th Single《74億分の1の君へ》')">HKT48-74億分の1の君へ&nbsp;</a></td>
                    <td onmousedown="str=this.innerText|| this.textContent"><a href="javascript:talk('HKT48 7th Single《74億分の1の君へ》')">HKT48-Chain of love&nbsp;</a></td>
                    <td onmousedown="str=this.innerText|| this.textContent"><a href="javascript:talk('HKT48 7th Single《74億分の1の君へ》')">HKT48-HKT城、今、動く&nbsp;</a></td>
                    <td onmousedown="str=this.innerText|| this.textContent"><a href="javascript:talk('HKT48 7th Single《74億分の1の君へ》')">HKT48-アインシュタインよりディアナ・アグロン&nbsp;</a></td>
                </tr>
                <tr>
                    <td onmousedown="str=this.innerText|| this.textContent"><a href="javascript:talk('HKT48 7th Single《74億分の1の君へ》')">HKT48-タブーの色&nbsp;</a></td>
                    <td onmousedown="str=this.innerText|| this.textContent"><a href="javascript:talk('HKT48 7th Single《74億分の1の君へ》')">HKT48-図々しさを貸してちょうだい&nbsp;</a></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </div>
    </div>
{% endblock content %}