<!DOCTYPE html>
<html lang="en">
<head>
<title>歌曲列表</title>
<meta charset="utf-8">
<meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/ihover.css') }}">
</head>
<body class="page1" id="top">
<section class="content">
<div class="container">
    <div class="container">
        <div class="row">
            <div class="grid_12">
                <h3>歌曲列表</h3>
            </div>
            <div class="grid_3">
                <div class="ih-item circle effect2 left_to_right">
                    <a href="akb48">
                        <div class="img"><img src="{{ url_for('static', filename='images/logo/AKB48.png') }}" alt="AKB48"></div>
                        <div class="info">
                            <h3>AKB48</h3>
                            <p>see more</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="grid_3">
                <div class="ih-item circle effect2 left_to_right">
                    <a href="ske48">
                        <div class="img"><img src="{{ url_for('static', filename='images/logo/SKE48.png') }}" alt="SKE48"></div>
                        <div class="info">
                            <h3>SKE48</h3>
                            <p>see more</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="grid_3">
                <div class="ih-item circle effect2 left_to_right">
                    <a href="nmb48">
                        <div class="img"><img src="{{ url_for('static', filename='images/logo/NMB48.png') }}" alt="NMB48"></div>
                        <div class="info">
                            <h3>NMB48</h3>
                            <p>see more</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="grid_3">
                <div class="ih-item circle effect2 left_to_right">
                    <a href="hkt48">
                        <div class="img"><img src="{{ url_for('static', filename='images/logo/HKT48.png') }}" alt="HKT48"></div>
                        <div class="info">
                            <h3>HKT48</h3>
                            <p>see more</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="grid_3">
                <div class="ih-item circle effect2 left_to_right">
                    <a href="sdn48">
                        <div class="img"><img src="{{ url_for('static', filename='images/logo/SDN48.jpg') }}" alt="SDN48"></div>
                        <div class="info">
                            <h3>SDN48</h3>
                            <p>see more</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="grid_3">
                <div class="ih-item circle effect2 left_to_right">
                    <a href="nogizaka46">
                        <div class="img"><img src="{{ url_for('static', filename='images/logo/nogizaka46.jpg') }}" alt="nogizaka46"></div>
                        <div class="info">
                            <h3>乃木坂46</h3>
                            <p>see more</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="grid_3">
                <div class="ih-item circle effect2 left_to_right">
                    <a href="keyakizaka46">
                        <div class="img"><img src="{{ url_for('static', filename='images/logo/keyakizaka46.jpg') }}" alt="keyakizaka46"></div>
                        <div class="info">
                            <h3>欅坂46</h3>
                            <p>see more</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="grid_3">
                <div class="ih-item circle effect2 left_to_right">
                    <a href="live">
                        <div class="img"><img src="{{ url_for('static', filename='images/logo/live.jpg') }}" alt="live"></div>
                        <div class="info">
                            <h3>公演</h3>
                            <p>see more</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="grid_3">
                <div class="ih-item circle effect2 left_to_right">
                    <a href="sub_group">
                        <div class="img"><img src="{{ url_for('static', filename='images/logo/sub_group.jpg') }}" alt="sub_group"></div>
                        <div class="info">
                            <h3>子團</h3>
                            <p>see more</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="grid_3">
                <div class="ih-item circle effect2 left_to_right">
                    <a href="solo">
                        <div class="img"><img src="{{ url_for('static', filename='images/logo/SOLO.jpg') }}" alt="SOLO"></div>
                        <div class="info">
                            <h3>SOLO</h3>
                            <p>see more</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="grid_3">
                <div class="ih-item circle effect2 left_to_right">
                    <a href="sp">
                        <div class="img"><img src="{{ url_for('static', filename='images/logo/SP.jpg') }}" alt="SP"></div>
                        <div class="info">
                            <h3>其他限定組合</h3>
                            <p>see more</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="grid_3">
                <div class="ih-item circle effect2 left_to_right">
                    <a href="other">
                        <div class="img"><img src="{{ url_for('static', filename='images/logo/Other.jpg') }}" alt="Other"></div>
                        <div class="info">
                            <h3>其他</h3>
                            <p>see more</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
	<div class="ta__center">
	<h3>Others</h3>
          <div class="row">
            <div class="grid_8 preffix_2">
                <a href="list" class="btn">已點播歌曲</a>
              <a href="https://www.facebook.com/groups/617521948265617/" class="btn">加入FB社團</a>
			  <a href="https://docs.google.com/spreadsheet/embeddedform?formkey=dGZXN21FLXlic1Vaenk0UFBvWjBOZmc6MQ" class="btn">意見表</a>
            </div>
          </div>
	</div>
</div>
</section>
</body>
</html>