{% extends "AKBGroup_SongList_template.html" %}

{% block style %}
    <style type="text/css">
        body {
            background-image: url(https://dl.dropboxusercontent.com/u/35685131/%E9%9B%BB%E5%8F%B0WORK/home/all.jpg);
            background-attachment: fixed;
            background-repeat: repeat;
        }

        #other1:hover {
            position: relative;
        }

        #other1:hover:after {
            content: url(https://dl.dropboxusercontent.com/u/35685131/%E9%9B%BB%E5%8F%B0WORK/AKB_Web%E5%9C%96/other/GSS.jpg);
            /* no need for qoutes */
            display: block;
            position: absolute;
            left: 250px;
            top: -100px;
        }

        #other2:hover {
            position: relative;
        }

        #other2:hover:after {
            content: url(https://dl.dropboxusercontent.com/u/35685131/%E9%9B%BB%E5%8F%B0WORK/AKB_Web%E5%9C%96/other/folder153.png);
            /* no need for qoutes */
            display: block;
            position: absolute;
            left: 250px;
            top: -100px;
        }

        #other3:hover {
            position: relative;
        }

        #other3:hover:after {
            content: url(https://dl.dropboxusercontent.com/u/35685131/%E9%9B%BB%E5%8F%B0WORK/AKB_Web%E5%9C%96/other/fold4er.png);
            /* no need for qoutes */
            display: block;
            position: absolute;
            left: 250px;
            top: -100px;
        }

        #other4:hover {
            position: relative;
        }

        #other4:hover:after {
            content: url(https://dl.dropboxusercontent.com/u/35685131/%E9%9B%BB%E5%8F%B0WORK/AKB_Web%E5%9C%96/other/fold1123er.jpg);
            /* no need for qoutes */
            display: block;
            position: absolute;
            left: 250px;
            top: -100px;
        }

        #other5:hover {
            position: relative;
        }

        #other5:hover:after {
            content: url(https://dl.dropboxusercontent.com/u/35685131/%E9%9B%BB%E5%8F%B0WORK/AKB_Web%E5%9C%96/other/folde147r.JPG);
            /* no need for qoutes */
            display: block;
            position: absolute;
            left: 250px;
            top: -100px;
        }

        #other6:hover {
            position: relative;
        }

        #other6:hover:after {
            content: url(https://dl.dropboxusercontent.com/u/35685131/%E9%9B%BB%E5%8F%B0WORK/AKB_Web%E5%9C%96/other/COVER1256.jpg);
            /* no need for qoutes */
            display: block;
            position: absolute;
            left: 250px;
            top: -100px;
        }

        #gotop {
            display: none;
            position: fixed;
            right: 10px;
            bottom: 100px;
            padding: 20px 15px;
            font-size: 20px;
            /*background: #777;*/
            background-image: url(http://i.imgur.com/eYkSSua.jpg);
            background-size: cover;
            color: white;
            cursor: pointer;
        }
    </style>
{% endblock style %}

{% block content %}
    <div class="CSSTableGenerator" style="width:40%">
        <table>
            <tr>
                <td> (請先點選此表確認出處) </td>
            </tr>
            <tr>
                <td> <a href="#ID星野みちる 1st mini Album《卒業》" id="other1">星野みちる 1st mini Album《卒業》</a></td>
            </tr>
            <tr>
                <td> <a href="#ID五井道子《僕の花》" id="other2">五井道子《僕の花》</a></td>
            </tr>
            <tr>
                <td> <a href="#ID今井優《ありがとう》" id="other3">今井優《ありがとう》</a></td>
            </tr>
            <tr>
                <td> <a href="#ID《Stargazer》" id="other4">《Stargazer》</a></td>
            </tr>
            <tr>
                <td> <a href="#ID大島麻衣 1st Single《メンドクサイ愛情》" id="other5">大島麻衣 1st Single《メンドクサイ愛情》</a></td>
            </tr>
            <tr>
                <td> <a href="#ID大島麻衣 3rd Single《Second Lady》" id="other6">大島麻衣 3rd Single《Second Lady》</a></td>
            </tr>
        </table>
    </div>
	<br><br>
    <div id="effect">
        <div class="CSSTableGenerator">
            <table>
                <tr>
                    <td colspan="4" id="ID星野みちる 1st mini Album《卒業》">星野みちる 1st mini Album《卒業》</td>
                </tr>
                <tr>
                    <td onmousedown="str=this.innerText|| this.textContent"><a href="javascript:talk('星野みちる 1st mini Album《卒業》')">01 ガンバレ!&nbsp;</a></td>
                    <td onmousedown="str=this.innerText|| this.textContent"><a href="javascript:talk('星野みちる 1st mini Album《卒業》')">02 サヨナラのサイン&nbsp;</a></td>
                    <td onmousedown="str=this.innerText|| this.textContent"><a href="javascript:talk('星野みちる 1st mini Album《卒業》')">03 DEAR M&nbsp;</a></td>
                    <td onmousedown="str=this.innerText|| this.textContent"><a href="javascript:talk('星野みちる 1st mini Album《卒業》')">04 泣きたくなる&nbsp;</a></td>
                </tr>
                <tr>
                    <td onmousedown="str=this.innerText|| this.textContent"><a href="javascript:talk('星野みちる 1st mini Album《卒業》')">05 信じたい&nbsp;</a></td>
                    <td onmousedown="str=this.innerText|| this.textContent"><a href="javascript:talk('星野みちる 1st mini Album《卒業》')">06 夢の足跡&nbsp;</a></td>
                    <td onmousedown="str=this.innerText|| this.textContent"><a href="javascript:talk('星野みちる 1st mini Album《卒業》')">07 勇敢な僕ら&nbsp;</a></td>
                    <td></td>
                </tr>
            </table>
        </div>
        <div class="CSSTableGenerator">
            <table>
                <tr>
                    <td colspan="4" id="ID五井道子《僕の花》">五井道子《僕の花》</td>
                </tr>
                <tr>
                    <td onmousedown="str=this.innerText|| this.textContent"><a href="javascript:talk('五井道子《僕の花》')">01 僕の花&nbsp;</a></td>
                    <td onmousedown="str=this.innerText|| this.textContent"><a href="javascript:talk('五井道子《僕の花》')">02 棺のなかで眠りたい&nbsp;</a></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </div>
        <div class="CSSTableGenerator">
            <table>
                <tr>
                    <td colspan="4" id="ID今井優《ありがとう》">今井優《ありがとう》</td>
                </tr>
                <tr>
                    <td onmousedown="str=this.innerText|| this.textContent"><a href="javascript:talk('今井優《ありがとう》')">01 ありがとう&nbsp;</a></td>
                    <td onmousedown="str=this.innerText|| this.textContent"><a href="javascript:talk('今井優《ありがとう》')">02 ずっとずっと&nbsp;</a></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </div>
        <div class="CSSTableGenerator">
            <table>
                <tr>
                    <td colspan="4" id="ID《Stargazer》">《Stargazer》</td>
                </tr>
                <tr>
                    <td onmousedown="str=this.innerText|| this.textContent"><a href="javascript:talk('《Stargazer》')">01 Stargazer&nbsp;</a></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </div>
        <div class="CSSTableGenerator">
            <table>
                <tr>
                    <td colspan="4" id="ID大島麻衣 1st Single《メンドクサイ愛情》">大島麻衣 1st Single《メンドクサイ愛情》</td>
                </tr>
                <tr>
                    <td onmousedown="str=this.innerText|| this.textContent"><a href="javascript:talk('大島麻衣 1st Single《メンドクサイ愛情》')">01 メンドクサイ愛情&nbsp;</a></td>
                    <td onmousedown="str=this.innerText|| this.textContent"><a href="javascript:talk('大島麻衣 1st Single《メンドクサイ愛情》')">02 どーにもこーにも&nbsp;</a></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </div>
        <div class="CSSTableGenerator">
            <table>
                <tr>
                    <td colspan="4" id="ID大島麻衣 3rd Single《Second Lady》">大島麻衣 3rd Single《Second Lady》</td>
                </tr>
                <tr>
                    <td onmousedown="str=this.innerText|| this.textContent"><a href="javascript:talk('大島麻衣 3rd Single《Second Lady》')">01 Second Lady&nbsp;</a></td>
                    <td onmousedown="str=this.innerText|| this.textContent"><a href="javascript:talk('大島麻衣 3rd Single《Second Lady》')">02 Miracle Love&nbsp;</a></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </div>
    </div>
{% endblock content %}